{% extends 'base/base.html' %}

<html lang="en">
  <head>
    {% block title %}
    <title>{{category_title}}</title>
    {% endblock %}
  </head>
  <body>
{% block content %}   
<main class="container">

  <div class="row mb-2">
    <h3>{{category_title}}</h3>
    {% for article in articles %}
    <div class="col-md-6">
      <div class="row g-0 border border-2 border-light rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
        <div class="col p-3 d-flex flex-column position-static">
          <div class="card mb-0" style="max-width: 600px;">
            <div class="row g-0">
              <div class="col-md-2">
                <img src="{{article.subarticle_set.first.image.url}}" class="img-fluid rounded-start" style="max-height:100px, max-width:100px, width:100px; height:100px" alt="...">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">{{article.title}}</h5>
                  <p class="card-text"><small class="text-body-secondary">{{article.published_at.date}}</small></p>
                </div>
              </div>
            </div>
          </div>
          <p class="card-text mb-auto">{{article.short_description}}</p>
          <a href="{% url 'article_detail' article.id article.slug %}" class="stretched-link"></a>
        </div>
        <div class="col-auto d-none d-lg-block">

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</main><!-- /.container -->

<footer class="blog-footer">
</footer>


{% endblock %}    
  </body>
</html>
