{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
  <head>
    {% block title %}
    <title>{{main_article_create_title}}</title>
    {% endblock %}
  </head>
<body>
  {% block content %}
  <div class="container">
    <div class="col-md-8 offset-md-2 my-5">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      <form action="/create/" method="post">
        {% csrf_token %}
        <h5>Select Category</h5>
        <h6 class="mt-2">{{form.category|as_crispy_field}}</h6>
        <!-- Button trigger modal -->
        <div class="text-end">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add New Category
        </button>
        </div>
        <h6 class="mt-2">{{form.title|as_crispy_field}}</h6>
        <h6 class="mt-2">{{form.short_description|as_crispy_field}}</h6>
        <p class="text-muted text-end">(Only 500 characters allowed)</p>
        <div class=text-end>
          <button role="button" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'add_category' %}" method="post">
              {% csrf_token %}
              <div class="modal-body">
                {{category_form|crispy}}
                <p class="text-muted">(After adding the category, please choose it from the drop down.)</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> 
  </div>
  {% endblock %}
</body>
</html>