{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
<html lang="en">
  <head>
    {% block title %}
    <title>{{main_article_update_title}}</title>
    {% endblock %}
  </head>
<body>
  {% block content %}
  <div class="container">
    <div class="col-md-8 offset-md-2 my-5">
      {% if message %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <form action="" method="post">
        {% csrf_token %}
        <h5>{{form.title|as_crispy_field}}</h5>
        <h5>{{form.short_description|as_crispy_field}}</h5>
        <button role="button" type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'article_detail' main_article.id main_article.slug %}" role="button" type="" class="btn btn-danger my-2">Cancel</a>
      </form>
    </div> 
  </div>
  {% endblock %}
</body>
</html>